*, body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("coffeeImage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.heading {
    position: absolute;
    top: 50%;
    left: 2%;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    overflow: hidden;
    position: absolute;
    left: 70%;
    bottom: 0;
}

.navBarLI {
    float: left;
}

.navBarLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBarLI a:hover {
    background-color: black;
}

.active {
    background-color: black;
}
.header {
    position: fixed;
    width: 100%;
    height: 20%;
    /* background-color: green; */
    /* border-bottom: 2px solid darkgreen; */
    /* z-index: 2; */
}

.container {
    width: 100%;
    position: absolute;
    top: 20%;
    height: 75%;
    overflow: scroll;
    /* z-index: 2; */
}

.footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    /* z-index: 2; */
}

.contact a{
    position: absolute;
    right: 5%;
    bottom: 40%;
    float: right;
    color: khaki;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.tnc {
    position: absolute;
    left: 5%;
    bottom: 45%;
}

.tnc a {
    color: khaki;
}

.quote {
    font-family: cursive;
    position: absolute;
    left: 35%;
    top: 15%;
    font-size: 400%;
}

.menu {
    font-family: cursive;
    position: absolute;
    left: 40%;
    top: 10%;
    font-size: 200%;
}

.aboutUs {
    font-family: cursive;
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 150%;
    width: 60%;
}

.jobParagraph {
    font-family: cursive;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 150%;
    width: 80%;
}

.jobMenu {
    font-family: cursive;
    position: absolute;
    left: 40%;
    top: 50%;
    font-size: 220%;
    width: 80%;
}

.jobMenuHeading {
    font-family: cursive;
    position: absolute;
    left: 20%;
    top: 40%;
    font-size: 250%;
    width: 80%;
}

.termsAndConditions {
    position: absolute;
    border: 2px solid black;
    color: black;
    background-color: white;
    left: 30%;
    top: 20%;
    width: 40%;
    height: 60%;
    overflow: scroll;
}

.tncHeading {
    color: blue;
}